@import "tailwindcss";

@theme {
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
}

@layer base {
  body {
    background-color: var(--color-zinc-950);
    color: #e4e4e7; /* zinc-200 */
    font-family: 'Inter', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
